
.Home {
  padding-left: 50px;
  padding-right: 50px;
  Display: flex;
  flex-direction: column;
}

.App-proj-title {
  padding-top: 20px;
  padding-bottom: 10px;
}

.proj-container {
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 50px;
}

.images {
  height: 150px;
  width: 300px;
  align-self: center;
}


.single_game {
  display: grid;
  grid-template-columns: 30% 70%
}
