.AnApp {

}


.body {
  Display: flex;
  align-items: center;
}

.AppPic {
  height: 150px;
  width: 250px;
  padding-right: 15px;
}

.button {
  height: 100%;
  width: max-content;
}

.logo {
  height: 50px;
  width: 50px;
  padding-right: 15px;
}

.para {
  min-width: 50%;
  max-width: 70%;
}
